/*y0nza1.github.io style sheet*/

/*theme*/
body { 
    background-color:#282828; 
    color: #ffffff;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    font-weight: 100; }        
h1 { 
    background-color: #3c3836;
    color: #d79921;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px; }
nav { 
    background-color: #3c3836; 
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 3px; }
a { 
    color: #cc241d; 
    text-decoration: none;
    text-transform: null; } 
a:hover {
    color: #ebdbb2; }
main { 
    background-color: #3c3836;
    color: #fbf1c7;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    font-weight: 200; }
h2 { 
    background-color: #665c54;
    font-weight: 200;
    text-indent: 0.5em; }
h3 { 
    background-color: #665c54;
    color: #fabd2f;
    font-weight: 300;
    text-indent: 0.5em; 
}
footer { 
    color: #ffbb30; 
    font-weight: 300; }
hr {
    border-color: #7c6f64;
    background-color: #7c6f64;
    color: #7c6f64;
}

/*fonts*/

/*classes*/

.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
.center_large {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.feature_red { color: #cc241d; }
.feature_green { color: #98971a; }
.feature_yellow { color: #d79921; }
.feature_blue { color: #458588; }

.heavy_font { font-weight: 500; }

/*link color classes*/
a.internal {
    color: #cc241d;
}
a.external {
    font-weight: 500;
    color: #98971a;
}
a.external:hover {
    color:#5e5e0e;
}

/* ids */
#main {
    padding: 1em;
    overflow:hidden;
}
#inner-left {
    margin-left: 5px;
    float: left;
    width: 45%;
    height: 50%;
}
#inner-right {
    margin-right: 5px;
    float: right;
    width: 45%;
    height: 50%;
}



/*ids*/
#blog {
    padding-top: 1%;
    padding-bottom: 1%;
    color:#3c3836;
    background-color: #d5c4a1;
}
#wrapper { 
    margin-left: auto;
    margin-right: auto;
    width: 70%; }
#h1 {
    padding: 5px; }
#nav {
    padding: 5px;
    margin-bottom: 10px; 
}

/*formatting*/
* {
    box-sizing: border-box; }
h1 {
    padding: 10px; 
    box-sizing:border-box; }
nav {
    padding: 5px;
    box-sizing:border-box; }
main {
    border: 3px solid #7c6f64;
    position: relative;
    display: block;
    padding: 1em;
    /*border-radius: 15px;*/
    box-sizing:border-box;
 }
h2 { border-left: 3px solid #ffbb30; }
p { padding-left: 10px; 
    padding-right: 10px;
}
dl {
    padding-left: 10px;
    padding-right:10px;
}
dt {
    padding-left:10px;
}
/* li styling moves text closer to bullet point */
ul {
    margin: 0px;
}
li:before {
    content: "";
    margin-right: -5px;
}
li {
    text-indent: 5px;
    padding-right: 10px;
}
img { 
    width: auto;
    height: auto; } 
figcaption { 
    text-align: center; 
    font-size: 0.80em; }
footer { 
    padding-top: 10px; 
    padding-left: 5px; }

/*Visibility to Load*/
/* Please add this to your html head element if so:
<style>html{visibility: hidden; opacity: 0;}</style> */
html {
    visibility: visible;
    opacity: 1; }